.page-courses {
    .content-box {
        padding-bottom: 30px;
    }

    .course {
        border: 6px solid $grey;

        &__info {
            padding-bottom: 16px;
            font-size: 16px;

            hr {
                margin-top: 4px;
                margin-bottom: 4px;
                border-top: 1px dashed $grey-dark;
                width: 60%;
            }
        }

        &__title {
            margin-top: 16px;
        }
    }


    @media (max-width: 767px) {
        .course {
            margin-bottom: 15px;

            .img-course {
                width: 100%;
            }
        }
    }
}

.page-course {
    .course-info {
        margin-top: 12px;

        label {
            color: $blue;
        }

        p {
            margin-left: auto;
            margin-right: auto;
        }

        ul.course-modules {
            display: inline-block;
            text-align: left;
        }

        ul.course-module-documents {
            padding-left: 12px;
            list-style-type: none;
        }

        & > .tab-content {
            padding-top: 12px;
        }

        .nav-stacked {
            li {
                padding-bottom: 2px;

                &:not(:last-child) {
                    border-bottom: 1px solid $grey-dark;
                }

                a {
                    padding: 5px 12px;
                }
            }
        }

        #comments {
            .comments-container {
                max-height: 400px;
                overflow: scroll;
                padding-bottom: 12px;
            }

            article {
                display: flex;
                flex-direction: row;
                margin-bottom: 8px;

                .avatar {
                    flex: 0 0 60px;
                }

                .comment {
                    flex-grow: 1;
                    padding-left: 20px;
                    position: relative;

                    .text {
                        background-color: $blue;
                        color: $white;
                        border-radius: 20px;
                        font-size: 15px;
                        padding: 4px 12px;

                        .comment-reply-lines {
                            
                        }

                        .actions {
                            margin-left: 16px;

                            button {
                                background-color: transparent;
                                color: inherit;
                                padding-left: 4px;
                                padding-right: 4px
                            }

                            .btn-edit {
                                display: inline-block;
                            }

                            .btn-save,
                            .btn-cancel {
                                display: none;
                            }
                        }

                        form {
                            display: none;

                            textarea {
                                color: inherit;
                                resize: none;
                            }
                        }

                        small {
                            font-size: 70%;
                        }

                        &.editing {
                            padding-bottom: 12px;

                            .actions {
                                .btn-edit {
                                    display: none;
                                }

                                .btn-save,
                                .btn-cancel {
                                    display: inline-block;
                                }
                            }

                            form {
                                display: block;
                            }
                        }
                    }

                    .author {
                        font-weight: 600;
                    }

                    .timestamp {
                        color: $blue;
                        font-size: 14px;
                        padding-left: 10px;
                    }

                    .attachment {
                        font-size: 14px;
                        margin-left: 12px;
                        margin-top: 4px;
                    }
                }

                .action {
                    flex: 0 0 60px;

                    .btn-reply {
                        background-color: transparent;
                        color: inherit;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                &:hover {
                    .btn-reply {
                        visibility: visible;
                    }
                }
            }

            .comment-reply {
                background-color: #dedede;
                border-radius: 20px;
                padding: 12px;
                margin-bottom: 12px;

                textarea {
                    font-size: 16px;
                }

                .btn-default {
                    background-color: transparent;
                    color: inherit;

                    &:hover {
                        color: $blue;
                    }
                }
            }
        }
    }
}
