.container-admin {
    font-size: 16px;

    .content-box {
        padding: 30px;
    }

    .page-title {
        color: $blue;
    }

    .section-title {
        color: $blue;
    }

    .page-title,
    .section-title {
        .btn {
            line-height: inherit;
        }
    }

    .btn {
        &.btn-sm {
            font-size: 20px;
        }
    }

    .table-container {
        padding: 15px;
        background-color: $grey;
        margin-bottom: 15px;

        table {
            background-color: transparent;
            border-collapse: separate;
            border-spacing: 0 1em;
            margin-bottom: 0;

            tr {
                background-color: $white;

                td {
                    border: none;
                    vertical-align: middle;
                }
            }

            .btn {
                font-size: 16px;
                padding: 4px 12px;
            }
        }
    }
}

.form-course {
    .form-group {
        margin-bottom: 30px;
    }

    textarea:focus {
        border-top-style: dotted;
        border-top-width: 1px;
    }

    .img-course {
        margin-bottom: 12px;
    }
}

.form-horizontal {
    .checkbox {
        font-size: 18px;
        &.inline {
            display: inline-block;
            margin-right: 18px;
        }
    }
}