body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1.6em;
}

img {
    max-width: 100%;
}

.content-box {
    background-color: $white;
}

.m-t-30 {
    margin-top: 30px;
}
