#header {
    background-color: $grey;
    padding: 50px 0;

    .logo {
        max-width: 100%;
    }
}

.navbar-primary {
    background-color: $blue;
    background-image: none;
    font-size: 16px;
    border-radius: 0;
    border: none;

    .navbar-nav > li > a {
        color: $white;
        text-shadow: none;
    }

    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
        background-image: none;
        background-color: $white;
        color: $blue;
        box-shadow: none;

        &:hover,
        &:focus {
            background-color: $white;
        }
    }
}

#footer {
    background-color: $blue;
    padding: 30px 0;

    .footer-info {
        background-color: $white;
        padding: 12px 30px 20px;

        h4 {
            margin-bottom: 24px;
        }

        a {
            height: 30px;
            display: inline-block;
        }
    }
}

@media (min-width: 768px) {
    .navbar-primary {
        > .container {
            > .navbar-collapse {
                margin-right: -15px;
                margin-left: -15px;
            }
        }
    }
}

@media (max-width: 767px) {
    #footer {
        .footer-info.social {
            margin-bottom: 30px;
        }
    }
}
