
.container {
    max-width: 970px;
}

#header {
    padding: 50px 0;

    .logo {
        max-width: 100%;
    }
}

.navbar-primary {
    background-color: $blue;
    background-image: none;
    font-size: 16px;
    border-radius: 0;
    border: none;
    margin-bottom: 0;

    .navbar-nav > li > a {
        color: $white;
        text-shadow: none;

        &:hover,
        &:focus {
            background-color: $white;
            color: $blue;
        }
    }

    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
        background-image: none;
        background-color: $white;
        color: $blue;
        box-shadow: none;

        &:hover,
        &:focus {
            background-color: $white;
        }
    }
}

.container {
    padding-left: 30px;
    padding-right: 30px;
}

.page-container {
    background-color: $grey-dark;

    > .container {
        background-color: $grey;

        padding-top: 50px;
        padding-bottom: 50px;
    }

    .content-box {
        padding: 15px;
    }
}

#footer {
    background-color: $blue;
    padding: 30px 0;

    .content-box {
        padding: 12px 30px 20px;

        h4 {
            margin-bottom: 24px;
        }
    }
}

@media (min-width: 768px) {
    .navbar-primary {
        > .container {
            > .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .row.equal-height {
        display: -webkit-flex;
        display:  -webkit-box;
        display:  -ms-flexbox;
        display:         flex;

        > [class^=col-] {
            display: flex;
            /*flex-direction: column;*/

            .content-box {
                flex: 1;
            }
        }
    }

}

@media (max-width: 767px) {
    .content-box {
        margin-bottom: 30px;
    }
}
