.navbar-primary {
    background-color: $blue;
    background-image: none;
    font-size: 16px;
    border-radius: 0;
    border: none;
    margin-bottom: 0;

    /* always Collapse bar */
    /*
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-collapse.collapse.in{
        display:block !important;
    }*/
    /* always Collapse bar */

    .navbar-toggle {
        border-radius: 0;
        border: none;
        float: left;
        margin-right: 0;
        padding-left: 0;

        .icon-bar {
            background-color: $white;
            width: 24px;
            height: 3px;
        }

        &:hover,
        &:focus {
            background-color: transparent;
        }

        &[aria-expanded=true] {
            .icon-bar {
                &:nth-of-type(2) {
                    transform: rotate(45deg);
                    margin-top: 6px;
                }

                &:nth-of-type(3) {
                    display: none;
                }

                &:nth-of-type(4) {
                    transform: rotate(-45deg);
                    margin-top: -2px;
                }
            }
        }
    }

    .navbar-nav > li > a {
        color: $white;
        text-shadow: none;

        &:hover,
        &:focus {
            background-color: $white;
            color: $blue;
        }
    }

    .navbar-nav > .open > a,
    .navbar-nav > .active > a {
        background-image: none;
        background-color: transparent;
        color: $white;
        box-shadow: none;

        &:hover,
        &:focus {
            background-color: $white;
        }
    }

    .navbar-brand {
        color: $white;
        text-shadow: none;
        font-size: 24px;
        width: 80%;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    @media (min-width: 768px) {
        > .container {
            > .navbar-collapse {
                padding-left: 0;
                padding-right: 0;
            }
        }

        .navbar-brand {
            display: none;
        }

        .navbar-nav > .open > a,
        .navbar-nav > .active > a {
            background-color: $white;
            color: $blue;

            &:hover,
            &:focus {
                background-color: $white;
            }
        }
    }
}
