.form-profile {
    padding: 20px 30px;

    .form-subheader {
        color: $blue;
    }

    .form-group {
        margin-bottom: 30px;

        label.control-label {
            &:not(.shown) {
                display: none;
            }
        }
    }

    .img-avatar {
        margin-bottom: 12px;
    }
}
